<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.sspu.bike.mapper.BikeInfoMapper">
    <!--    返回BikeInfo表中的所有记录-->
    <select id="selectAllBikeInfo" resultType="bikeinfo">
        select * from bikeinfo
    </select>
    <!--    向BikeInfo中插入一条记录-->
    <insert id="insertBikeInfo" parameterType="BikeInfo">
        insert bikeinfo (bikeId,lockstatus,bikeLongitude,bikeLatitude,usecount)
        values (#{bikeId},#{lockStatus},#{bikeLongitude},#{bikeLatitude},#{useCount})
    </insert>
    <!--    查询指定bikeId的序列，返回指定bikeId的使用次数-->
    <select id="findById" parameterType="BikeInfo" resultType="BikeInfo">
        select * from bikeinfo where bikeId=#{bikeId}
    </select>
    <!--    更新BikeInfo中的指定记录-->
    <update id="updateBikeInfo">
        update bikeinfo set
        <if test="bikeInfo.lockStatus!=null">
            lockstatus=#{bikeInfo.lockStatus}
        </if>
        <if test="bikeInfo.bikeLongitude!=null and bikeInfo.bikeLatitude!=null">
            ,bikeLongitude=#{bikeInfo.bikeLongitude},bikeLatitude=#{bikeInfo.bikeLatitude}
        </if>
        <if test="bikeInfo.useCount!=null">
            ,usecount=#{bikeInfo.useCount}
        </if>
        <if test="bikeInfo.stuId">
            ,stuId=#{bikeInfo.stuId}
        </if>
        where bikeId=#{bikeInfo.bikeId}
    </update>

    <!--    查询共享单车的使用次数-->
    <select id="selectUsingTotal" resultType="int">
        select sum(usecount) from bikeinfo
    </select>
    <!--    查询正在使用共享单车的数量-->
    <select id="selectUserOfBikingTotal" resultType="int">
        select count(lockstatus) from bikeinfo where lockstatus="1"
    </select>
<!--    根据bikeId修改车锁状态、属于某个用户-->
    <update id="updateLockStatus">
        update bikeinfo set lockStatus=#{status} ,userId =#{user.stuId}where bikeId=#{bikeinfo.bikeId}
    </update>

<!--    修改车锁状态，同时，让车辆使用次数+1-->
    <update id="updateLockAndUseCount">
        update bikeinfo set lockStatus=#{status},usecount=#{useCount} where bikeId=#{bikeInfo.bikeId}
    </update>

</mapper>
